In [1]:
#Con los nuevos features

In [10]:
import pandas as pd #librería para datos
import matplotlib.pyplot as plt #para el hist
from scipy import stats as st
import numpy as np

D = pd.read_csv('train.csv')

In [11]:
D['W1-W2'] = D['W1mag'] - D['W2mag']
D['u3-g3'] = D['u3mag'] - D['g3mag']
D['g3-r3'] = D['g3mag'] - D['r3mag']
D['g-r'] = D['gmag'] - D['rmag']
D['u-g'] = D['umag'] - D['gmag']
D['Z3-Y3'] = D['Z3mag'] - D['Y3mag']

In [17]:
D.drop(D.columns[[3,4,5]],axis=1,inplace=True)
D

          ID  Hclass      Yhlr   W1-W2   u3-g3   g3-r3     g-r     u-g   Z3-Y3
0      36673       1   2.05538 -0.4635  1.9766  0.9205  1.1280  2.3374  1.3022
1      13653       2   0.62652  0.4874  0.5886  0.0391  0.2757  0.8157  0.3184
2      12443       1   1.60298 -0.5234  1.6785  0.7194  0.9258  1.8880  0.2592
3      18491       1   2.53191 -0.5418  1.5130  0.5733  0.7605  1.6795  0.2637
4       9853       1   1.62702 -0.5976  1.7753  0.7168  0.9266  1.9760  0.2895
...      ...     ...       ...     ...     ...     ...     ...     ...     ...
36509  11992       1   1.29516 -0.4977  1.6896  0.7271  0.9200  1.9198  0.2055
36510   2480       1 -99.00000 -0.0390  0.9503  0.9222  0.8721  0.9592  0.3675
36511  18689       1   2.37643 -0.5035  1.2983  0.6397  0.8704  1.6365  0.3775
36512   8192       1   1.23947 -0.5789  1.4969  0.5848  0.8591  1.7900  0.2290
36513  13814       0   0.63903 -0.6536  1.1239  0.2549  0.4681  1.3227  0.0301

[36514 rows x 9 columns]

In [18]:
X = D[D.columns.drop(['Hclass','ID'])]; y = D['Hclass']; ID = D['ID']

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y)

In [64]:
from sklearn import tree
from sklearn.metrics import f1_score

qualy = tree.DecisionTreeClassifier(max_depth=10,min_samples_leaf=3,class_weight='balanced') #Probamos modificando las cond inic del classifier 
qualy.fit(X_train,y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=10,
                       min_samples_leaf=3)

In [65]:
y_true, y_predic = y_train, qualy.predict(X_train) #def la posta y lo que me devuelve como ML del test inventado
f1_score(y_true,y_predic,average='weighted')

0.9751480371536904

In [66]:
y_true, y_predic = y_test, qualy.predict(X_test) #def la posta y lo que me devuelve como ML del test inventado
f1_score(y_true,y_predic,average='weighted')

0.9560709408139018

In [67]:
#Vamos al test
test = pd.read_csv('test.csv')

In [68]:
test['g-r'] = test['gmag'] - test['rmag']
test['u-g'] = test['umag'] - test['gmag']
test['W1-W2'] = test['W1mag'] - test['W2mag']
test['u3-g3'] = test['u3mag'] - test['g3mag']
test['g3-r3'] = test['g3mag'] - test['r3mag']
test['Z3-Y3'] = test['Z3mag'] - test['Y3mag']

In [77]:
test.drop(test.columns[[2]],axis=1,inplace=True)
test

          ID      Yhlr     g-r     u-g   W1-W2   u3-g3   g3-r3   Z3-Y3
0      11281   1.63602  1.0350  1.8945 -0.4672  1.5365  0.8188  0.2565
1      21564   2.12984  0.6798  1.1460 -0.2144  0.9978  0.5124  0.1786
2      22373   1.04050  1.7018  1.4455 -0.2500  1.1034  1.4336  0.3196
3       8068   2.33576  0.8314  1.6240 -0.3902  1.3679  0.6728  0.2965
4      41641   0.64069  1.2583  2.3947 -0.5458  2.3635  1.2432  0.6814
...      ...       ...     ...     ...     ...     ...     ...     ...
12167   3011 -99.00000  1.3634  1.8250 -0.2916  1.7382  1.3428  0.5760
12168  30812   1.42012  1.5996  1.6600 -0.5173  1.4191  1.3885  0.3138
12169  27174   0.68798  0.1435  0.7403  0.3545  0.4481 -0.0919  0.3075
12170  28895   0.78359  1.7140  3.0922 -0.3843  2.0548  1.4827  0.2751
12171  46586   1.35608  1.6546  2.4770 -0.2883  1.8504  1.3964  0.3046

[12172 rows x 8 columns]

In [78]:
testID = test['ID']; test = test[test.columns.drop('ID')]

In [79]:
test['submit'] = qualy.predict(test)
test

           Yhlr     g-r     u-g   W1-W2   u3-g3   g3-r3   Z3-Y3  submit
0       1.63602  1.0350  1.8945 -0.4672  1.5365  0.8188  0.2565       1
1       2.12984  0.6798  1.1460 -0.2144  0.9978  0.5124  0.1786       1
2       1.04050  1.7018  1.4455 -0.2500  1.1034  1.4336  0.3196       1
3       2.33576  0.8314  1.6240 -0.3902  1.3679  0.6728  0.2965       1
4       0.64069  1.2583  2.3947 -0.5458  2.3635  1.2432  0.6814       2
...         ...     ...     ...     ...     ...     ...     ...     ...
12167 -99.00000  1.3634  1.8250 -0.2916  1.7382  1.3428  0.5760       2
12168   1.42012  1.5996  1.6600 -0.5173  1.4191  1.3885  0.3138       1
12169   0.68798  0.1435  0.7403  0.3545  0.4481 -0.0919  0.3075       1
12170   0.78359  1.7140  3.0922 -0.3843  2.0548  1.4827  0.2751       2
12171   1.35608  1.6546  2.4770 -0.2883  1.8504  1.3964  0.3046       1

[12172 rows x 8 columns]

In [80]:
test['ID'] = testID
test

           Yhlr     g-r     u-g   W1-W2   u3-g3   g3-r3   Z3-Y3  submit     ID
0       1.63602  1.0350  1.8945 -0.4672  1.5365  0.8188  0.2565       1  11281
1       2.12984  0.6798  1.1460 -0.2144  0.9978  0.5124  0.1786       1  21564
2       1.04050  1.7018  1.4455 -0.2500  1.1034  1.4336  0.3196       1  22373
3       2.33576  0.8314  1.6240 -0.3902  1.3679  0.6728  0.2965       1   8068
4       0.64069  1.2583  2.3947 -0.5458  2.3635  1.2432  0.6814       2  41641
...         ...     ...     ...     ...     ...     ...     ...     ...    ...
12167 -99.00000  1.3634  1.8250 -0.2916  1.7382  1.3428  0.5760       2   3011
12168   1.42012  1.5996  1.6600 -0.5173  1.4191  1.3885  0.3138       1  30812
12169   0.68798  0.1435  0.7403  0.3545  0.4481 -0.0919  0.3075       1  27174
12170   0.78359  1.7140  3.0922 -0.3843  2.0548  1.4827  0.2751       2  28895
12171   1.35608  1.6546  2.4770 -0.2883  1.8504  1.3964  0.3046       1  46586

[12172 rows x 9 columns]

In [81]:
test[['ID','submit']].to_csv('DT_day2.csv',index=False)

In [ ]:
#Revisar que no puse, así como en el Try3 3, condiciones en el classifier. Está todo default.